.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
}

.logo {
  width: 200px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
}

.res-container {
  display: flex;
  flex-wrap: wrap
}

.filter-btn {
  margin: 10px;
}

.res-card {
  margin: 10px;
  width: 200px;
  padding: 5px;
  background-color: rgb(209, 189, 189);
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.food-logo {
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  margin: 10px;
  background-color: #c6aeae;
}
